x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "250m"
    max-file: "4"

services:
  db:
    image: postgres:13
    restart: unless-stopped
    environment:
      POSTGRES_DB:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
    logging: *default-logging
    volumes:
      - ./.docker/postgres-data:/var/lib/postgresql/data
    networks:
      duc-rate-net:
  web: &web
    env_file: .env
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${DOCKER_EXPOSE_PORT?8000}:8000"
    depends_on:
      - db
    logging: *default-logging
    volumes:
      - ./media/:/code/media
      - ./static/:/code/static
      - ./duc_rate_admin/rates/migrations:/code/duc_rate_admin/rates/migrations
    networks:
      duc-rate-net:
  rates_checker:
    <<: *web
    depends_on:
      - db
    restart: unless-stopped
    ports: []
    command: python3 rates_checker.py
    networks:
      duc-rate-net:


networks:
  duc-rate-net:
