services:
  db:
    image: postgres
    environment:
      POSTGRES_DB:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
    volumes:
      - ./.docker/postgres-data:/var/lib/postgresql/data
    networks:
      duc-rate-net:
  web:
    env_file: .env
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${DOCKER_EXPOSE_PORT?8000}:8000"
    depends_on:
      - db
    volumes:
      - ./media/:/code/media
      - ./static/:/code/static
      - ./duc_rate_admin/rates/migrations:/code/duc_rate_admin/rates/migrations
    networks:
      duc-rate-net:


networks:
  duc-rate-net:
