# All values required.

DOCKER_EXPOSE_PORT=8000
DJANGO_ALLOWED_HOSTS=*

AUTH_API_KEY=test

DJANGO_SECRET_KEY=somesecret

POSTGRES_DB=duc_rate
POSTGRES_USER=duc_rate
POSTGRES_PASSWORD=duc_rate
POSTGRES_HOST=db

CMC_API_KEYS=asdf,dsa1
CMC_API_URL=https://pro-api.coinmarketcap.com/v2/cryptocurrency/quotes/latest

COINGECKO_API=https://api.coingecko.com/api/v3/simple/price?ids={}&vs_currencies={}
COINGECKO_API_KEY=

BNB_CHECKER_TIMEOUT=
RATES_CHECKER_TIMEOUT=
